app/web/app_dev.php
docker-compose.yml
docker/
app/vendor/
.data/
/app/app/config/parameters.yml
/app/var/
!/app/var/cache
/app/var/cache/
!/app/var/cache/.gitkeep
!/app/var/logs
/app/var/logs/
!/app/var/logs/.gitkeep
!/app/var/sessions
/app/var/sessions/
!/app/var/sessions/.gitkeep
!/app/var/SymfonyRequirements.php

