@font-face {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Regular'), url('../fonts/Akrobat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Akrobat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Bold'), url('../fonts/Akrobat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Akrobat ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat ExtraLight'), url('../fonts/Akrobat-ExtraLight.woff') format('woff');
}

* {
	font-family: 'Akrobat ExtraLight';
  margin: 0;
  padding: 0;
}

body {
	background-color: #F2F2F2;
	height:100vh;
	width:100vw;
	overflow: hidden;
}

#bg-svg {
	position: relative;
	width:100%;
}

#background-svg {
	max-height: 100vh;
}

#svg-top {
	position:absolute;
	max-height: 100vh;
}

#main-container, #wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#topbar {
	width:100%;
	height:10pt;
	background-color:dimgrey;
}

.content {
	width:100%;
}

#right-menu {
	padding: 2vw 1vw 0 0;
	position:absolute;
	right:0;
	top:0;
	height:100vh;
	width:13%;
}

.menu-item {
	display:inline-block;
	text-decoration: none;
	color:#636363;
  padding: 2vh 1vh .4vh 0;
  font-size: 2.2vw;
  font-family: 'Akrobat ExtraLight';	
  line-height: 2.4vw;
}

.menu-item:hover {
  color:black;
  text-decoration: none;
}

.router-link-exact-active {
  border-bottom: 2pt solid #EBB436;
}

#footer {
	width:100%;
	height:10pt;
	background-color:black;
}

/* Explanation */
.explanation {
  position: absolute;
  display:flex;
  flex-direction: column;
  width:21%;
  height: 100%;
  justify-content: space-between;
  padding: 2vw 0 2vw 2vw;
  line-height: 2vw;
  font-size: 2vw;
}

.explanation-top .title{
  text-transform: uppercase;
  border-left: 7pt solid #EBB436;
  padding-left: 1.4vw;
  font-size:4vw;
  line-height: 4vw;
  margin-bottom: 2.2vw;
}

.explanation-top .description ul {
  list-style: none;
}

.explanation-top .description ul li {
  font-family: 'Akrobat Regular';
}

.explanation-top .tariffes {
  color: #ebb436;
  font-family: 'Akrobat Regular';
  font-size: 1.8vw;
  line-height: 2.5vw;
}

.tariffes-price {
  font-size: 3vw;
}

.btn-action {
  background-color: #ebb436;
  border-bottom: solid 2px #d2aa31;
  color: white;
  padding: 1vw;
  text-align: center;
  border-right: 0;
  text-transform: uppercase;
  margin-top: 1vw;
  font-size: 2.2vw;
  letter-spacing: .1vw;
  cursor: pointer;
  border-left: 0;
  border-top: 0;
}

#next-greeting {
  width: 25vw;
  position: absolute;
  top: 60vh;
  left: 10vw;
  text-align: center;
}
#next-logo-big {
  width:20vw;
}

#next-caption {
  font-size: 2.5vw;
}

/*Media queries for adequate font size*/ 
@media screen and (min-width: 1000px) {
  .explanation-top .title {
     font-size: 40px;
     line-height: 40px;
     margin-bottom: 22px;
  }
  .explanation {
    font-size: 20px;
    line-height: 20px;
  }
  .explanation-top .tariffes {
    font-size: 18px;
    line-height: 25px;
  }
  .tariffes-price {
    font-size: 30px;
  }
  .menu-item, .btn-active {
    font-size: 22px;
    line-height: 24px;
  }
}

/* ALERTS */
.alert-success {
  color: #11bd38;
  background-color: black;
  border-color: #ffffff;
}

.alert {
  border-radius: 0;
}

/* Contact form */
#contactForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 87%;
}

.contactform-group {
  width: 60%;
}

.contact-btn {
  width:30vw;
}

/* SVG Styles REMOVE toDO 

#consoles, #birthday, #koworking, #food, #tennis, #scene, #games, #kicker, #mafia {
        opacity:0;
        transition: opacity .5s ease;
      }
      #consoles:hover, #birthday:hover, #koworking:hover, #food:hover, #tennis:hover, #scene:hover, #games:hover, #kicker:hover, #mafia:hover {
        cursor:pointer;
        opacity:1;
        transition: opacity .5s ease;
      }*/